<h1>投稿一覧</h1>
<% @users.each do |user| %>
  <p id="notice"><%= notice %></P>

   <%= render 'user_info', user: @user%>

   <div class="container">
    <div class="row">
     <div class="col-lg-4">
    </div>   
    <div class="col-lg-8">
       <table class="table table-striped">
            <thead>
                <tr>
                  <th>Books</th>
                  <th>Title</th>
                  <th>Opinion</th>
                  <th colspan="2"></th>
                </tr>
            </thead>
       <tbody>     





    <p>タイトル</p>
    <span>
      <%=link_to user.name, user_path(user.id) %>
    </span>

 <table class="table table-striped">
    <p>画像</p>
    <% if user.image.attached? %>
      <%= image_tag user.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
 </table>
<% end %>
