<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if user_signed_in? %>
  <p><%= current_user.name %> さん</p>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>

    <!-- xxxxxxxxxxには自身のKitCodeのIDが入ります  -->
    <script src="https://kit.fontawesome.com/4c018c7cce.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <% if user_signed_in? %>
  <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
    <li class="nav-item">
      <%= link_to "Bookers",root_path %>
    </class=>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "Bookers", root_path, class: "navbar-brand" %>
  
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Books", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <% end %>
  </header>
    <%= yield %>
  </body>
</html>